* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: #EDEAEA;
}

header {
    height: 100px;
    width: 100%;
    margin-right: 40px;
    background-color: #BE89CB;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#MenuNavegacao {
    display: flex;
    gap: 30px;

}

ul, ol {
    list-style: none;

}

#MenuNavegacao li a {
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    
    transition: 0.3s;    
}

#menuNavegacao li a:hover {
    border-bottom: 2px solid #FFFFFF;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    padding: 45px 30px;
    margin: auto;
    width: 960px;
}

.sub-section {
    background-color: #dbd9d9;
    width: 100%;
    
    
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.25em;
}

h1 , h3 {
    color: #FF4DBC
}

h2, h4 {
    color: #837F85;
}

section ul {
    max-width: 760px;
    margin: auto;
}

.foto-perfil {
    width: 125px;
    border: 5px solid #BE89CB;
    height: 125px;
    border-radius: 50%;
    padding: 5px;
}

.foto-perfil:hover {
    opacity: 0.6;
}



.article-container {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.article-container p {
    
    padding: 60px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    line-height: 22px;
    
}

#formacao h3 {
    margin-bottom: 60px;
}

#formacao h4, li a, p {
    margin-bottom: 20px;
    margin-top: 20px;

}

#portifolio h3 {
    margin-bottom: 60px;
}

#portifolio h4, li a, p {
    margin-bottom: 20px;
    margin-top: 20px;
}

footer {
    background-color: #BE89CB;
    height: 135px; 
    width: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    
  

}

#contato li a {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
    
       
}

#contato a {
    margin-top: 5px;
    margin-bottom: 5px;
    
  
}

.icone {

    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;

}

i {
    margin-right: 15px;
}









